<img [src]="lightBulbSrc" (click)="toggleLed()">

<table>
  <tr>
    <th>Off</th>
    <th>
      <md-slide-toggle [(ngModel)]="ledStatus" [disabled]="blinkingStatus" (change)="toggleLed()"></md-slide-toggle>
    </th>
    <th>On</th>
  </tr>
  <tr>
    <td>No blinking</td>
    <td>
      <md-slide-toggle [(ngModel)]="blinkingStatus" [disabled]="ledStatus"
                       (change)="toggleBlinking()"></md-slide-toggle>
    </td>
    <td>Blinking</td>
  </tr>
</table>
<p>Blinking Configuration</p>
<md-input-container>
  <input mdInput placeholder="Delay" value="0" [(ngModel)]="delay">
</md-input-container>
<md-input-container>
  <input mdInput placeholder="Period" value="3000" [(ngModel)]="period">
</md-input-container>
