/* You can add global styles to this file, and also import other style files */
@import '../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css';

html {
  background-color: #eef5f9;
  font-family: Calibri;
  padding: 10px;
}

md-slide-toggle {
  vertical-align: center;
}

md-grid-list {
  margin-top: 10px;
}
