<h1>
  XPArduino
</h1>
<p>Select Port</p>

<form>
  <md-select placeholder="COM PORT" [(ngModel)]="comPort" name="comPort" color="accent" ngDefaultControl>
    <md-option *ngFor="let port of comPorts" [value]="port">
      {{port}}
    </md-option>
  </md-select>
  <p> Selected value: {{comPort}} </p>
</form>

<div>
  <md-grid-list cols="3" rowHeight="2:1">
    <md-grid-tile>
      <div>
        <md-slide-toggle
          [color]="accent"
          [(ngModel)]="ledStatus"
          [disabled]="false">
          Led toggle
        </md-slide-toggle>
        <p>{{ledStatus}}</p>
      </div>
      </md-grid-tile>
      <md-grid-tile>2</md-grid-tile>
      <md-grid-tile>3</md-grid-tile>
      <md-grid-tile>4</md-grid-tile>
  </md-grid-list>

</div>
