html {
  padding-top: 20px;
}

.arrow-right {
  width: 0;
  height: 0;
  border-top: 40px solid transparent;
  border-bottom: 40px solid transparent;

  border-left: 40px solid #00E200;
}

.arrow-left {
  width: 0;
  height: 0;
  border-top: 40px solid transparent;
  border-bottom: 40px solid transparent;

  border-right:40px solid #FF472A;
}

.arrow {
  display: inline-block;
  cursor: pointer;
}

.arrow-left:hover {
  border-right: 40px solid #911D08;
}

.arrow-left-active {
  border-right: 40px solid #911D08;
}

.arrow-right:hover {
  border-left: 40px solid #003f00;
}

.arrow-right-active {
  border-left: 40px solid #003f00;
}

.arrows {
  vertical-align: middle;
}
